*{
margin: 0;
padding: 0;
}
/*Intrarea in pagina*/
.incarcare{
  animation: slide 2s;
}
.slidershow{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height:100vh;
  animation: slide 10s infinite;
}
.continut{
color:#fff;
width:98%;
height: 100%;
}
.principal{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  letter-spacing: 5px;
  text-align: center;
}
.principal h1{
  font-size: 45px;
  color: black;
}
.principal p{
  font-size: 40px;
  color: firebrick;
}
.principal button{
  margin-top: 25px;
  font-size: 40px;
  background-color: #008CBA;
width: 300px;
height: 75px;
border-radius: 25px;
 color: gold;
  border: none;
  cursor: pointer;
}
.principal button:hover {
  background-color: #5BF95D;
  color: white;
}
@keyframes slide {
  0%{
    background-image: url('1.jpg');
  }
  20%{
    background-image: url('1.jpg');
  }
  20.01%{
    background-image: url('2.jpg');
  }
  40%{
    background-image: url('2.jpg');
  }
  40.01%{
    background-image: url('3.jpg');
  }
  60%{
    background-image: url('3.jpg');
  }
  60.01%{
    background-image: url('4.jpg');
  }
  80%{
    background-image: url('4.jpg');
  }
  80.01%{
    background-image: url('5.jpg');
  }
  100%{
    background-image: url('5.jpg');
  }
}
/*meniul de navigare*/
.navbar{
width: 100%;
height: 150px;

}
.logo img{
  height:105px;
  margin-left: 5%;
}
.lincuri{
  color: #0075bd;
}
.lincuri ul{
margin-top: -62px;
padding-left: 60%;
}
.lincuri ul li{
  display: inline-block; 
  padding-right: 48px;
  font-family: sans-serif;
  cursor: pointer;
  color:#0075bd;
}
.lincuri ul li:hover{
  color: gold;
}

.telefon img{
  height: 24px;
  width:24px;
  padding-left: 34%;
}
.telefon {
  margin-top: -28px;
}
.telefon a{
  text-decoration: none;
  color:black;
  font-size: 28px;
  display: flex;
  padding-left: 37%;
  margin-top: -28px;
}
.iesire img{
  width: 24px;
  height: 24px;
  display: flex;
  margin-left: 94%;
  margin-top: -32px;
  cursor: pointer;
}
.main{
  width: 95%;
  height: 55px;
  margin: auto;
}
.intoducere{
  background-color: dodgerblue;
  border-radius: 50%;
  padding:  15px;
   width:25px;
   text-align: center;
   margin-left: 35px;
   color:  black;
   margin-top: -40px;
  }
  #paragraph{
      color: crimson;
      padding-left: 50px;
      font-size: 25px;
      margin-top: -35px;
  }
  #demo{
      color: black;
      font-size: 25px;
      margin-left: 86%;
      margin-top: -30px;
  }
 .video{
   margin-top: 45px;
   margin-left: 65px;
 }
footer p{
  margin-left: 65px;
  font-size: 25px;
  margin-bottom: -25px;
}
/*Produse Noi*/
.imaginea{
  overflow: hidden;
  
  }
  .imaginea img{
  transition: transform 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease;
  width: 100%;
  }
  .imaginea img:hover{
    transform: scale(1.5);
    cursor: zoom-in;
  }
  .baza{
    height: 150px;
    width: 100%;
    text-align: center;
    font-size: 45px;
    color: crimson;
    margin-top: 15px;;
  }

  footer{
    margin-top: 55px;
    margin-bottom: -225px;
    display: flex;
}
footer ul{
  padding-left: 15px;
  }
  footer ul li{
display: inline-block; 
padding-right: 28px;
font-family: sans-serif;
cursor: pointer;
}
footer ul li a:hover{
text-decoration: underline;
}
footer ul li a{
color: #0075bd;
text-decoration: none;
font-size: 25px;
}
.fb img{
background-color: #0075bd;
border-radius: 50%;
padding:8px 12px;
margin-left: 83%;
margin-top:-75px ;
}
.yt img{
background-color: #0075bd;
padding:8px 8px;
margin-left: 91%;
margin-top: -115px;
}

/*reduceri*/
.canvasjs-chart-credit{
  display: none;
}
table{
  height:150px;
  width:80%;
  max-width: 1440px;
  margin: auto;
}
   
#reduceri{
  text-align: center;
  color: #173750;
}
/*Despre Noi*/
.noi{
  background-color: lightgray;
  margin-top:-25px; 
  width: 100%;
  height: 100%;
}
.el1{
  width: 80%;
  max-width: 1440px;
  margin: auto;
}
.el1 p{
font-size: 20px;
}
.el1 img{
  width: 60%;
  margin-left: 150px;
  height: 400px;
}
.el2 dl dt{
  font-size: 30px;
}
.el2 dd{
  font-size: 25px;
}
